<br>
<br>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col s12">
                <div class="card-content">
                    <div class="card-title"><i class="material-icons">settings</i>&nbsp;<strong>Configurations</strong></div>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Options for the user to add custom elements to bill details which will be common in every creation -->

<!-- Options for the user to change the email text given to the residents when they recieve a  bill or  a reciept -->